*, ::before, ::after{
    box-sizing: inherit;
}
html{
    -webkit-font-smoothing: antialiased;
    box-sizing: border-box;
    text-size-adjust: 100%;
}

body{
    margin: 0px;
    color: rgb(255, 255, 255);
    font-size: 15px;
    font-family: ui-sans-serif, system-ui, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
    font-weight: 400;
    line-height: 1.5;
}
h3 {
    display: block;
    font-size: 1.17em;
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    font-weight: bold;
}
@media (min-width: 0px){
    .bnt-header-mid{
        display: none;
    }
    .bnt-header-log{
        display: none;
    }
    .home-section-img{
        margin-bottom: 64px;
        height: 250px;
    }
    .home-section-top{
        padding-top: 160px;
    }
    .home-section-top-h1-sty{
        font-size: 32px;
    }
    
}
@media (min-width: 900px){
    .bnt-header-mid{
        display: flex;
    }
    .bnt-header-log{
        display: flex;
    }
    .home-section-top{
        padding-top: 250px;
    }
    .home-section-img{
        margin-bottom: 100px;
        height: 500px;
    }
}

@media (min-width:600px){
    .chatboss-header-est-end{
        min-height: 56px;
    }
}
.container-root{
    width: 100%;
    margin-left: auto;
    box-sizing: border-box;
    margin-right: auto;
    display: block;
    background-color: rgb(15, 0, 25);
    max-width: 100vw;
    overflow: hidden;
}
  
.chatboss-header{
    transition: box-shadow 300ms cubic-bezier(0.4, 0, 0.2, 1) 0ms;
    box-shadow: rgba(0, 0, 0, 0.2) 0px 2px 4px -1px, rgba(0, 0, 0, 0.14) 0px 4px 5px 0px, rgba(0, 0, 0, 0.12) 0px 1px 10px 0px;
    flex-direction: column;
    width: 100%;
    box-sizing: border-box;
    flex-shrink: 0;
    position: fixed;
    color: rgb(255, 255, 255);
    z-index: 999;
    max-width: 92%;
    left: 75px;
    right: 75px;
    top: 20px;
    height: 80px;
    display: flex;
    -webkit-box-align: center;
    align-items: center;
    -webkit-box-pack: justify;
    justify-content: space-between;
    padding: 8px 16px;
    border-radius: 8px;
    backdrop-filter: blur(10px);
    background-color: rgba(32, 0, 59, 0.2);
    border: 1px solid rgb(53, 39, 64);
}
.chatboss-header-est{
    width: 100%;
    margin-left: auto;
    box-sizing: border-box;
    margin-right: auto;
    display: block;
}
.chatboss-header-est-end{
    position: relative;
    min-height: 64px;
    display: flex;
    -webkit-box-pack: justify;
    justify-content: space-between;
    -webkit-box-align: center;
    align-items: center;
}
.chatboss-header-est-img{
    background-image: url(./images/logo.webp);
    width: 320px;
    height: 40px;
    background-size: contain;
    background-repeat: no-repeat;
}  
.bnt-header-mid{
    -webkit-box-flex: 1;
    flex-grow: 1;
    -webkit-box-pack: center;
    justify-content: center;
}
.bnt-header-log{
    width: 105px;

}
.bnt-header-login{
    display: inline-flex;
    -webkit-box-align: center;
    align-items: center;
    -webkit-box-pack: center;
    justify-content: center;
    position: relative;
    box-sizing: border-box;
    -webkit-tap-highlight-color: transparent;
    background-color: transparent;
    outline: 0px;
    border: 0px;
    margin: 0px;
    cursor: pointer;
    user-select: none;
    vertical-align: middle;
    appearance: none;
    text-decoration: none;
    font-family: ui-sans-serif, system-ui, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
    font-weight: 500;
    line-height: 1.75;
    min-width: 64px;
    border-radius: 6px;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1) 0ms, box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1) 0ms, border-color 250ms cubic-bezier(0.4, 0, 0.2, 1) 0ms, color 250ms cubic-bezier(0.4, 0, 0.2, 1) 0ms;
    color: rgb(99, 38, 185);
    text-transform: none;
    height: 50px;
    padding: 1.25rem 2.5rem;
    width: 100%;
    font-size: 15px;
    color: white !important;
    border: 1px solid #3f2958 !important;
    height: 3rem;
    display: inline-flex;
    outline: none;
    padding: 20px 32px !important;
    font-size: 16px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
    align-items: center;
    font-weight: 500;
    white-space: nowrap;
    justify-content: center;
    background-color: #14042c;
    /* background-image: radial-gradient(60% 50% at 50% 50%, #10011A 0%, #17022D 100%); */
    transition: all 0.3s ease; 
} 
.bnt-header-login:hover{
    background-color: #4D0D66;
}
.bnt-home{
    position: relative;
    box-sizing: border-box;
    -webkit-tap-highlight-color: transparent;
    background-color: transparent;
    outline: 0px;
    margin: 0px;
    user-select: none;
    vertical-align: middle;
    appearance: none;
    text-decoration: none;
    font-family: ui-sans-serif, system-ui, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
    font-weight: 500;
    line-height: 1.75;
    min-width: 64px;
    padding: 5px 15px;
    text-transform: none;
    color: rgb(99, 38, 185);
    display: flex;
    -webkit-box-align: center;
    align-items: center;
    -webkit-box-pack: center;
    justify-content: center;
    white-space: nowrap;
    font-size: 15px;
    width: 80px;
    height: 40px;
    border-top: none;
    border-right: none;
    border-left: none;
    border-image: initial;
    border-bottom: 1px solid transparent;
    cursor: pointer;
    transition: color 0.3s ease 0s;
    border-radius: 0px;
}
.bnt-home::after{
    content: "";
    position: absolute;
    height: 2px;
    width: 0;
    bottom: 0;
    left: 0;
    background-color: rgb(53, 39, 64);
    transition: all 0.3s ease;
}
.bnt-home:hover::after{
    width: 100%;
}
.bnt-home-sty{
    display: block;
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    margin: 0px;
    font-size: 15px;
    color: rgb(255, 255, 255);
    font-family: ui-sans-serif, system-ui, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
    font-weight: 400;
    line-height: 1.5;
}
.bnt-sobre{
    position: relative;
    box-sizing: border-box;
    -webkit-tap-highlight-color: transparent;
    background-color: transparent;
    outline: 0px;
    margin: 0px;
    user-select: none;
    vertical-align: middle;
    appearance: none;
    text-decoration: none;
    font-family: ui-sans-serif, system-ui, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
    font-weight: 500;
    line-height: 1.75;
    min-width: 64px;
    padding: 5px 15px;
    text-transform: none;
    color: rgb(99, 38, 185);
    display: flex;
    -webkit-box-align: center;
    align-items: center;
    -webkit-box-pack: center;
    justify-content: center;
    white-space: nowrap;
    font-size: 15px;
    width: 80px;
    height: 40px;
    border-top: none;
    border-right: none;
    border-left: none;
    border-image: initial;
    border-bottom: 1px solid transparent;
    cursor: pointer;
    transition: color 0.3s ease 0s;
    border-radius: 0px;
}
.bnt-sobre::after{
    content: "";
    position: absolute;
    height: 2px;
    width: 0;
    bottom: 0;
    left: 0;
    background-color: rgb(53, 39, 64);
    transition: all 0.3s ease;
}
.bnt-sobre:hover::after{
    width: 100%;
}
.bnt-sobre-sty{
    margin: 0px;
    font-size: 15px;
    color: rgb(255, 255, 255);
    font-family: ui-sans-serif, system-ui, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
    font-weight: 400;
    line-height: 1.5;
}
.bnt-planos{
    position: relative;
    box-sizing: border-box;
    -webkit-tap-highlight-color: transparent;
    background-color: transparent;
    outline: 0px;
    margin: 0px;
    user-select: none;
    vertical-align: middle;
    appearance: none;
    text-decoration: none;
    font-family: ui-sans-serif, system-ui, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
    font-weight: 500;
    line-height: 1.75;
    min-width: 64px;
    padding: 5px 15px;
    text-transform: none;
    color: rgb(99, 38, 185);
    display: flex;
    -webkit-box-align: center;
    align-items: center;
    -webkit-box-pack: center;
    justify-content: center;
    white-space: nowrap;
    font-size: 15px;
    width: 80px;
    height: 40px;
    border-top: none;
    border-right: none;
    border-left: none;
    border-image: initial;
    border-bottom: 1px solid transparent;
    cursor: pointer;
    transition: color 0.3s ease 0s;
    border-radius: 0px;
}
.bnt-planos::after{
    content: "";
    position: absolute;
    height: 2px;
    width: 0;
    bottom: 0;
    left: 0;
    background-color: rgb(53, 39, 64);
    transition: all 0.3s ease;
}
.bnt-planos:hover::after{
    width: 100%;
}
.bnt-planos-sty{
    margin: 0px;
    font-size: 15px;
    color: rgb(255, 255, 255);
    font-family: ui-sans-serif, system-ui, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
    font-weight: 400;
    line-height: 1.5;
}
.bnt-duvidas{
    position: relative;
    box-sizing: border-box;
    -webkit-tap-highlight-color: transparent;
    background-color: transparent;
    outline: 0px;
    margin: 0px;
    user-select: none;
    vertical-align: middle;
    appearance: none;
    text-decoration: none;
    font-family: ui-sans-serif, system-ui, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
    font-weight: 500;
    line-height: 1.75;
    min-width: 64px;
    padding: 5px 15px;
    text-transform: none;
    color: rgb(99, 38, 185);
    display: flex;
    -webkit-box-align: center;
    align-items: center;
    -webkit-box-pack: center;
    justify-content: center;
    white-space: nowrap;
    font-size: 15px;
    width: 80px;
    height: 40px;
    border-top: none;
    border-right: none;
    border-left: none;
    border-image: initial;
    border-bottom: 1px solid transparent;
    cursor: pointer;
    transition: color 0.3s ease 0s;
    border-radius: 0px;
}
.bnt-duvidas::after{
    content: "";
    position: absolute;
    height: 2px;
    width: 0;
    bottom: 0;
    left: 0;
    background-color: rgb(53, 39, 64);
    transition: all 0.3s ease;
}
.bnt-duvidas:hover::after{
    width: 100%;
}
.bnt-duvidas-sty{
    margin: 0px;
    font-size: 15px;
    color: rgb(255, 255, 255);
    font-family: ui-sans-serif, system-ui, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
    font-weight: 400;
    line-height: 1.5;
}
#menu-icon{
    font-size: 3.6rem;
    color: #FFF;
    cursor: pointer;
    display: none;
}
main{
    display: block;
}
.home-section{
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: column;
    -webkit-box-align: center;
    align-items: center;
    -webkit-box-pack: center;
    justify-content: center;
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center top;
    background-image: url(./images/Trabalhos.webp);
}
.home-section-top{
    display: flex;
    flex-direction: column;
    -webkit-box-align: center;
    align-items: center;
    gap: 16px;
    -webkit-box-pack: center;
    justify-content: center;
    width: 70%;
}
.home-section-top-bnt{
    display: inline-flex;
    -webkit-box-align: center;
    align-items: center;
    -webkit-box-pack: center;
    justify-content: center;
    position: relative;
    box-sizing: border-box;
    -webkit-tap-highlight-color: transparent;
    background-color: transparent;
    outline: 0px;
    border: 0px;
    margin: 0px 0px 12px;
    cursor: pointer;
    user-select: none;
    vertical-align: middle;
    appearance: none;
    text-decoration: none;
    font-family: ui-sans-serif, system-ui, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
    font-size: 0.9375rem;
    line-height: 1.75;
    min-width: 64px;
    border-radius: 4px;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1) 0ms, box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1) 0ms, border-color 250ms cubic-bezier(0.4, 0, 0.2, 1) 0ms, color 250ms cubic-bezier(0.4, 0, 0.2, 1) 0ms;
    color: rgb(99, 38, 185);
    text-transform: none;
    width: auto;
    padding: 1.5rem 2rem;
    font-weight: 500;
    color: white !important;
    border: 1px solid #3f2958 !important;
    height: 2.25rem;
    display: inline-flex;
    outline: none;
    padding: 20px 32px !important;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
    transition: color 0.3s;
    align-items: center;
    font-weight: 500;
    white-space: nowrap;
    justify-content: center;
    background-color: #4D0D66 !important;
    background-image: radial-gradient(60% 50% at 50% 50%, #10011A 0%, #17022D 100%);
}
.home-section-mid{
    margin-top: 16px;
    width: 90%;
    background-image: url(./img/app.webp);
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center top;
} 
.home-section-top-h1{
    padding-left: 45px;
    padding-right: 45px;
}
.home-section-top-h1-sty{
    margin: 0px;
    font-weight: bold;
    font-size: 45px;
    color: rgb(255, 255, 255);
    font-family: ui-sans-serif, system-ui, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
    line-height: 1.167;
    text-align: center;
}
.home-section-top-p{
    margin: 0px;
    font-size: 15px;
    font-family: ui-sans-serif, system-ui, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
    font-weight: 400;
    color: rgb(160, 174, 192);
    text-align: center;
    line-height: 1.5;
}
p{
    display: block;
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
}
.home-section-img{
    margin-top: 16px;
    width: 90%;
    background-image: url(./images/app.webp);
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center top;
}
.home-section-mid{
    display: flex;
    -webkit-box-align: start;
    align-items: start;
    width: 100%;
    height: auto;
    gap: 40px;
    background-color: rgb(241, 245, 255);
}
.home-section-mid-top{
    display: flex;
    flex-direction: column;
    -webkit-box-align: start;
    align-items: start;
    -webkit-box-pack: start;
    justify-content: start;
    gap: 16px;
    width: 100%;
    height: 100%;
}
.home-section-mid-top-bnt{
    display: inline-flex;
    -webkit-box-align: center;
    align-items: center;
    -webkit-box-pack: center;
    justify-content: center;
    position: relative;
    box-sizing: border-box;
    -webkit-tap-highlight-color: transparent;
    background-color: transparent;
    outline: 0px;
    border: 0px;
    margin: 0px;
    cursor: pointer;
    user-select: none;
    vertical-align: middle;
    appearance: none;
    text-decoration: none;
    font-family: ui-sans-serif, system-ui, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
    font-weight: 500;
    font-size: 0.875rem;
    line-height: 1.75;
    min-width: 64px;
    border-radius: 4px;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1) 0ms, box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1) 0ms, border-color 250ms cubic-bezier(0.4, 0, 0.2, 1) 0ms, color 250ms cubic-bezier(0.4, 0, 0.2, 1) 0ms;
    color: rgb(99, 38, 185);
    text-transform: none;
    width: auto;
    padding: 8px 1.5rem;
    color: #6326B9 !important;
    display: inline-flex;
    outline: none;
    font-size: 14px !important;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    transition: color 0.3s;
    align-items: center;
    font-weight: medium;
    white-space: nowrap;
    border-radius: 4px !important;
    justify-content: center;
    background-color: #6326B9 !important;
    background-image: radial-gradient(50% 50% at 50% 50%, #ffffff 0%, #D9D2F3 100%);
}
.home-section-mid-top-bnt-span{
    overflow: hidden;
    pointer-events: none;
    position: absolute;
    z-index: 0;
    inset: 0px;
    border-radius: inherit;
}
.home-section-mid-h1{
    margin: 0px;
    font-size: 40px;
    font-family: ui-sans-serif, system-ui, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
    line-height: 1.2;
    color: rgb(99, 38, 185);
    font-weight: inherit;
}
.home-section-mid-p{
    margin: 0px;
    font-size: 15px;
    font-family: ui-sans-serif, system-ui, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
    font-weight: 400;
    color: rgb(75, 85, 99);
    line-height: 2;
}
.home-section-mid-img{
    width: 100%;
    max-width: 990px;
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center center;
    background-image: url(./images/chat.webp);
}
.home-section-bot{
    background-color: rgb(223, 228, 241);
    width: 100%;
    height: auto;
}
.home-section-bot-mid-box{
    box-sizing: border-box;
    display: flex;
    flex-flow: wrap;
    width: 100%;
}
.home-section-mid-box-minibox{
    box-sizing: border-box;
    margin: 0px;
    flex-direction: row;
    flex-basis: 100%;
    -webkit-box-flex: 0;
    flex-grow: 0;
    max-width: 100%;
}
.home-section-mid-box-minibox-sty{
    background-color: rgb(210, 214, 226);
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    -webkit-box-align: start;
    align-items: start;
    -webkit-box-pack: start;
    justify-content: flex-start;
    gap: 1rem;
}
.home-section-mid-box-minibox-sty-h3{
    margin: 0px;
    font-size: 20px;
    font-family: ui-sans-serif, system-ui, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
    line-height: 1.167;
    color: rgb(99, 38, 185);
    font-weight: 500;

}






@media(min-width: 0px){
    .home-section-top-h1-sty{
        font-size: 32px;
    }
    .home-section-top-p{
        font-size: 16px;
        padding-left: 16px;
        padding-right: 16px;
    }
    .home-section-mid-h1{
        font-size: 32px;
    }
    .home-section-mid-p{
        font-size: 13px;
    }
    .home-section-mid-img{
        height: 350px;
    }
    .home-section-mid{
        padding: 50px 20px;
        flex-direction: column; 
        -webkit-box-pack: center;   
        justify-content: center;
    }
    .home-section-bot{
        padding: 40px;
    }
    .home-section-bot-mid-box{
        width: calc(100% + 40px);
        margin-left: -40px;
        margin-top: -40px;
    }
    .home-section-mid-box-minibox{
        padding-left: 16px;
        padding-top: 16px;
        
    }
    .home-section-mid-box-minibox-sty{
        padding: 32px;
    }

}
@media(min-width: 900px){
    .home-section-top-p{
        font-size: 18px;
        padding-left: 4px;
        padding-right: 4px;}
    .home-section-top-h1-sty{
        font-size: 44px;
    }
    .home-section-mid-h1{
        font-size: 40px;
    }
    .home-section-mid-img{
        height: 650px;
    }
    .home-section-mid-p{
        font-size: 15px;
    }
    .home-section-mid{
        padding: 100px;
        flex-direction: row;
        -webkit-box-pack: justify;
        justify-content: space-between;
    }
    .home-section-bot{
        padding: 60px;
    }
    .home-section-bot-mid-box{
        width: calc(100% + 16px);
        margin-left: -16px;
        margin-top: -16px;
    }
    .home-section-mid-box-minibox{
        padding-left: 40px;
        padding-top: 40px;
        flex-basis: 50%;
        -webkit-box-flex: 0;
        flex-grow: 0;
        max-width: 50%;
    }
    .home-section-mid-box-minibox-sty{
        padding: 40px;
    }
}


   
   
   
   
   
   

























/* transition: box-shadow 300ms cubic-bezier(0.4, 0, 0.2, 1) 0ms;
    box-shadow: rgba(0, 0, 0, 0.2) 0px 2px 4px -1px, rgba(0, 0, 0, 0.14) 0px 4px 5px 0px, rgba(0, 0, 0, 0.12) 0px 1px 10px 0px;
    flex-direction: column;
    width: 100%;
    box-sizing: border-box;
    flex-shrink: 0;
    position: fixed;
    color: rgb(255, 255, 255);
    z-index: 999;
    max-width: 92%;
    left: 75px;
    right: 75px;
    top: 20px;
    height: 80px;
    display: flex;
    -webkit-box-align: center;
    align-items: center;
    -webkit-box-pack: justify;
    justify-content: space-between;
    padding: 8px 16px;
    border-radius: 8px;
    backdrop-filter: blur(10px);
    background-color: rgba(32, 0, 59, 0.2);
    border: 1px solid rgb(53, 39, 64); */